<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>

    <script src="https://unpkg.com/vue@2.6.14"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/css.css">
    <script src="../scripts/form.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg"> <!-- Beginning of navbar -->
        <a class="navbar-brand" href="#">
            <img src="../images/logo.png" alt="Web Dev Stuff Inc's Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item slogan">
                    <p>Doing the design so you don't have to!</p>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="ourProducts.html">Our Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutUs.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../home.html">Home</a>
                </li>

            </ul>
        </div>
    </nav> <!-- End of navbar -->

    <div id="app" class="mainPage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 p-3">
                    <div class="grid"> <!-- Left Box -->
                        <p class="headingText">Contact Us Form</p>
                        <form id="appointmentsForm" @submit.prevent="formValidation">
                            <div class="form-group"> <!-- Added v-model="formData.{Variable Name}" to form parts -->
                                <label for="fullName">Full Name: </label>
                                <input type="text" class="form-control" id="fullName" name="fullName"
                                    v-model="formData.fullName" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address: </label>
                                <input type="email" class="form-control" id="email" name="email"
                                    v-model="formData.email" required>
                            </div>
                            <div class="form-group">
                                <label for="date">Date For Appointment: </label>
                                <input type="date" class="form-control" id="date" name="date" v-model="formData.date"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="time">Time For Appointment: </label>
                                <input type="time" class="form-control" id="time" name="time" v-model="formData.time"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="topics">Appointment Topics: </label>
                                <textarea class="form-control" id="topics" name="topics" v-model="formData.topics"
                                    required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            <input type="reset" value="Reset" class="btn btn-primary btn-lg">
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 p-3">
                    <div class="grid"> <!-- Right Box -->
                        <p class="headingText">Our Contact information</p>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 p-3">
                                    <div class="grid">
                                        <h3>Our Offices</h3>
                                        <p><iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0529745525473!2d175.27688407650794!3d-37.78879827198194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d6d18a57fa16281%3A0x72b05e2e8812d179!2sWintec%20Te%20P%C5%ABkenga%20City%20Campus!5e0!3m2!1sen!2snz!4v1683604065907!5m2!1sen!2snz"
                                                style="border:0;" allowfullscreen="" loading="lazy"
                                                referrerpolicy="no-referrer-when-downgrade" class="img-fluid"></iframe>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 p-3">
                                    <div class="grid">
                                        <p>Email Address: inquire@webdevstuff.com</p>
                                        <p>Phone Number: 0800 456 7822</p>
                                        <p>Our Address:<br>Tristram Street,<br>Hamilton Central,<br>Hamilton 3200</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="headingText">Form Preview</div>
                        <div>
                            <p>Your name is: {{ formData.fullName }}</p>
                            <p>Your email is: {{ formData.email }}</p>
                            <p>Your appointment date is: {{ formData.date }}</p>
                            <p>Your appointment time is: {{ formData.time }}</p>
                            <p>Your appointment topics are: {{ formData.topics }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                formData: {
                    fullName: '',
                    email: '',
                    date: '',
                    time: '',
                    topics: ''
                }
            },
            methods: {
                formValidation() {
                }
            }
        });
    </script>

</body>

<footer class="footer py-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>&copy; 2023 Web Dev Stuff Inc. All rights reserved.</p>
            </div>
            <div class="col-sm-6">
                <ul class="list-inline text-sm-right">
                    <li class="list-inline-item">Email Address: inquire@webdevstuff.com</li>
                    <li class="list-inline-item">Phone Number: 0800 456 7822</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</html>